@{
    ViewData["Title"] = "Orders List";
}

@model List<Order>

<div class="text-center">
    <h1 class="display-4">Список заказов</h1>
    <div class="d-grid gap-2">
        <a asp-action="CreateOrder" class="btn btn-primary  btn-lg mt-4">Создать заказ</a>
    </div>
    <br />
    @{
        if(Model.FirstOrDefault() != null)
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th>
                            Уникальный номер заказа
                        </th>
                        <th>
                            Город отправителя
                        </th>
                        <th>
                            Адрес отправителя
                        </th>
                        <th>
                            Город получателя
                        </th>
                        <th>
                            Адрес получателя
                        </th>
                        <th>
                            Вес груза, кг
                        </th>
                        <th>
                            Дата забора груза
                        </th>
                        <th>
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = Model.Count - 1; i >= 0; i--)
                        {
                            <tr style="cursor:pointer" onclick="location.href='@Url.Action("ReadOrder", "Order", new { id = Model[i].Id })'">
                                <td>@Model[i].Id</td>
                                <td>@Model[i].SenderCity</td>
                                <td>@Model[i].SenderAdress</td>
                                <td>@Model[i].RecieverCity</td>
                                <td>@Model[i].RecieverAdress</td>
                                <td>@Model[i].Weight</td>
                                <td>@Model[i].PickupDate</td>
                                <td>
                                <a asp-action="DeleteOrder" asp-route-id="@Model[i].Id">Удалить</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

</div>