@{
    ViewData["Title"] = "Orders List";
}

@model IEnumerable<Order>

<div class="text-center">
    <h1 class="display-4">Список заказов</h1>
    <div class="d-grid gap-2">
        <a asp-action="CreateOrder" class="btn btn-primary  btn-lg mt-4">Создать заказ</a>
    </div>
    <br />
    @{
        if(Model.FirstOrDefault() != null)
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th>
                            Уникальный номер заказа
                        </th>
                        <th>
                            Город отправителя
                        </th>
                        <th>
                            Адрес отправителя
                        </th>
                        <th>
                            Город получателя
                        </th>
                        <th>
                            Адрес получателя
                        </th>
                        <th>
                            Вес груза, кг
                        </th>
                        <th>
                            Дата забора груза
                        </th>
                        @*<th>
                            Действия
                        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var order in Model)
                        {
                            <tr style="cursor:pointer" onclick="location.href='@Url.Action("ReadOrder", "Order", new { id = order.Id })'">
                                    <td>@order.Id</td>
                                    <td>@order.SenderCity</td>
                                    <td>@order.SenderAdress</td>
                                    <td>@order.RecieverCity</td>
                                    <td>@order.RecieverAdress</td>
                                    <td>@order.Weight</td>
                                    <td>@order.PickupDate</td>
                                    @*<td>
                                        <a asp-action="DeleteOrder" asp-route-id="@order.Id">Удалить</a>
                                    </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }

</div>